{% extends 'base.html' %}

{% csrf_token %}
{% block title %}Products{% endblock %}

{% block content %}
    <div class="container-fluid">
    <div class="blog-header">
        <h1 style="font-family: Verdana; text-align: center;  font-weight: bold;">{{ group.name }}</h1>
        <h3 style="font-family: Verdana; text-align: center">{{ group.genre }}</h3>
    </div>
    <div>
    <br>
    <div class="col-lg-6 col-md-offset-3">
        {% load staticfiles %}
        <img src="{% static "" %}{{ group.pic }}" width="100%"/>
    </div>
    <div id='reload' class="col-lg-6 col-md-offset-3" align="justify">

        <br>
        <h5>{{ group.description }}</h5>


        <h3>Members:</h3>

        {% for i in customers_list %}

            <li>{{ i }}</li>
        {% endfor %}
        </ul>

    </div>
    <div class="col-lg-6 col-md-offset-3" align="center">
        {% if user not in customers_list %}


            <button class="btn btn-warning" id="enter_btn">Enter</button>

        {% endif %}
    </div>

    <script>

        $("#enter_btn").click(function () {


            $.ajax({
                url: "enter/",
                type: "GET",
                data: {
                    "user_name": "{{ user.username }}",
                    "group_id": "{{ group.id }}"
                },
                dataType: "text",
                success: function (data) {
                    if (data == "ok")
                        alert("You entered group");
                        $('#enter_btn').hide();
{#                        $('#reload').html(object.html);#}

                }


            });
        });


    </script>
{% endblock %}


